<h1>Welcome back! Please clock in</h1>
<form method="post" action="/log_in">
  <input type="text" name="name" placeholder="Server:">
  <input type="text" name="password" placeholder="Password:">

  <input type="submit" value="Clock In">
</form>